/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-my-block7  {
  background: $gray;
  border: 0px solid $bluebordure;
  color: $black;
  margin: 1.75em auto;
  max-width: 740px;
  padding: 2rem;
  border-left-width: 5px;
}
